@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

/* font-family: 'Noto Sans JP', sans-serif; */

#body_main {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}


/*  ヘッダーアイコン */

.head_title #header .site-title img {
    width: 65px;
    height: 65px;
}

.head_title #header {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    background-color: #ffffff;
}

#head_titleText img {
    width: 100%;
    height: 250px;
    z-index: -1;
}


/*  --------------------head_content 以下--------------------- */

#head_title #head_content ul {
    display: table-cell;
    list-style: none;
}

#head_title #head_content ul li a {
    font-size: 12px;
    color: #999999;
    text-decoration: none;
}

#head_title #head_content ul li a :hover {
    text-decoration: underline;
}


/*  --------------------head_title以下--------------------- */

#head_titleText img {
    object-fit: cover;
    position: relative;
}

#head_titleText p {
    position: absolute;
    left: 50px;
    top: 200px;
    font-size: 20px;
    color: #ffffff;
    z-index: -1;
}

#head_titleText h1 {
    position: absolute;
    left: 50px;
    top: 250px;
    font-size: 28px;
    color: #ffffff;
    z-index: -1;
}

#body_main #main #main_title h2 :before {
    content: "";
    display: inline-block;
    width: 2em;
    height: 2em;
    background: url(images/bg-heading-h2.png) no-repeat;
    background-size: contain;
}


/*  --------------------body_main #main以下--------------------- */


/* *******************仮 ****************/

.h3_list {
    list-style: none;
}


/* *******************仮 ****************/

#body_main #main {
    width: 800px;
}

#body_main #main .box_img1 img {
    height: 450px;
}

#body_main #main .box_img2 img {
    height: 550px;
}

#btn-box {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 60px;
    background: #0c419a;
    border: 1px solid #000;
    text-align: center;
}

#btn-box a {
    font-size: 14px;
    color: #ffffff;
}

#site-box {
    height: 70px;
    margin: 0 auto;
}

#site-box a {
    font-size: 16px;
    color: #0c419a;
    text-decoration: none;
}

#site-box a :hover {
    text-decoration: underline;
}

#site-box #l-box {
    float: left;
}

#site-box #r-box {
    float: right;
}


/* ******************* main-box ****************/

#main-box {
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 200px;
    background: #d6e1f5;
    text-align: center;
}

#main-box h3 {
    text-align: left;
    font-size: 16px;
}

#main-box #h3_box .box_list {
    width: 10%;
    display: table-cell;
    list-style: none;
}


/* **********************************/

#body_main .h4_list {
    list-style: none;
}


/*  --------------------body_list以下--------------------- */

#body_list .h4_list .list_h4 {
    padding-left: 0;
}

#body_list .h4_list .list_h4 li {
    width: 25%;
    display: table-cell;
    list-style: none;
    padding-left: 0;
}

.h4_list .list_h4 li a {
    font-size: 14px;
    color: #0c419a;
    text-decoration: none;
}

#body_list .h4_list .list_h4 li:hover {
    text-decoration: underline;
}


/* --------------------back_link 以下--------------------- */

.back_link a {
    font-size: 16px;
    color: #0c419a;
    text-decoration: none;
}

.back_link :hover {
    text-decoration: underline;
}


/*  --------------------sns-i-con以下--------------------- */

.sns-i-con {
    width: 100%;
    height: 100px;
}

.sns-i-con .follow-us {
    list-style: none;
    margin: 0 0 -8px;
    padding: 0;
}

.sns-i-con .follow-us li {
    float: left;
    margin: 0 8px 8px 0;
    padding: 0;
}

.sns-i-con .follow-us li a {}


/*  ----------------------------------------------------------- */


/*  --------------------page_foot以下--------------------- */

#page_foot {
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
}

#page_foot #foot_link .list1 ul {
    width: 25%;
    /* width: 500px; */
    display: table-cell;
    padding-left: 0;
    border-top: 1px #666666 solid;
    border-bottom: 1px #666666 solid;
}

#page_foot #foot_link .foot_list>a {
    font-size: 16px;
    color: #666666;
    font-weight: bold;
    line-height: 60px;
    text-decoration: none;
}

#page_foot #foot_link .list1 ul {
    padding-left: 0;
}

#page_foot #foot_link .list1 ul li {
    list-style: none;
}

#page_foot #foot_link .list1 ul li a {
    list-style: none;
}

#foot_link .foot_list li a {
    font-size: 14px;
    color: #666666;
    text-decoration: none;
}

#foot_link .foot_list li>a:hover {
    text-decoration: underline;
}

.list1 ul .foot_list {
    width: 25%;
    display: table-cell;
    padding-left: 0;
}


/* ----------------------- 免責事項付近 --------------- */

#foot_nav ul {
    padding-left: 0;
}

#foot_nav .nav_list li {
    width: 10%;
    display: table-cell;
    list-style: none;
}

nav .nav_list a {
    font-size: 12px;
    color: #999999;
    text-decoration: none;
}

nav .nav_list a:hover {
    text-decoration: underline;
}


/* ---------------------- copy_right以下--------------------- */

.copy_right {
    font-size: 10px;
    color: #333333;
}