@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

/* font-family: 'Noto Sans JP', sans-serif; */

body {
    width: 800px;
    margin-right: auto;
    margin-left: auto;
}

p {
    font-size: 16px;
    color: #333333;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

img {
    display: block;
    margin: 0 auto;
}

#box1 {
    text-align: center;
    width: 300px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: #3466bd;
}

#box1 .test {
    font-size: 16px;
    color: #ffffff;
    list-style-type: none;
}

#site-box {
    font-size: 16px;
    margin: 0 auto;
}

#site-box #l-box {
    float: left;
}

#site-box #r-box {
    float: right;
}

ul.h3_list>li {
    color: #0c419c;
    font-size: 14px;
    list-style-type: none;
    display: table-cell;
}

ul.bodylist>li {
    color: #666666;
    font-size: 14px;
    list-style-type: none;
}

ul.bodylist {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: #666666;
    font-size: 16px;
    display: table-cell;
}

nav .navlist li {
    font-size: 8px;
    color: #333333;
    display: table-cell;
}

#copyright {
    color: #333333;
    font-size: 10px;
}